 .content{
     border-radius: 5px;
 }
 .header{
     padding:20px 10px
 }
.name{
    // padding: 10px;
}
.label{
    padding:3px 5px;
    border-radius: 5px;
}
.option{
    padding:15px
}
.option-name{
    padding-left:10px
}
.option-price{
    text-align: right;
}