.field {
    padding: 10px;
}
.price-title {
    padding-bottom: 5px;
}
.mandatory {
    padding-left: 10px;
}
.price {
    width: 90%;
    text-align: right;
}
.btn {
    width: 100%;
}
.apply-discount {
    padding-left: 10px;
}
.percentage {
    width: 95%;
    text-align: left;
}
.remove {
    padding: 10px;
}
.remove-text {
    text-decoration: underline;
}
.discount-area {
    padding: 15px;
}
