.content{
    
}

.spinner{
    margin-left: 10px;
}

.new-category-description{
    padding:10px 0px 30px 0px;
}
.option {
    width: 100%;
    padding-top: 20px;
}
.tab:hover {
    text-decoration: underline;
    cursor: pointer;
}
.template-content{
    padding-top: 20px;
}
.tab{
    padding-right: 20px;
}
.currentTab-underline{
    text-decoration: underline;
}
.description-option{
    padding-left: 28px;
}
.options-available{
    padding-top: 25px;
}
.category-name-input{
    margin-top: -20px;
    margin-bottom: -10px;
}

.mat-icon{
    font-size: 35px;
}

.title-category{
    padding-top: 10px;
}

.item{
    text-align: left;
    padding: 10px;
    border-radius: 5px;
}

.alter{
    text-decoration: underline;
}

.template{
    padding-top: 10px;
}

.category-name{
    padding-top:25px;
}

.mat-form-field{
    width: 100%;
    padding-top:15px;
    border-radius: 5px;

}

.footer{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.save{
    margin-left: 10px;
}